<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="css/angular-material.min.css">
    </head>
    <body ng-app="drischool" ng-cloak>

        <div ng-controller="DashboardCtrl" layout="column">

            <section layout="row" flex>

                <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="2">

                    <md-toolbar class="md-theme-indigo">
                        <h1 class="md-toolbar-tools">Driving School Name</h1>
                    </md-toolbar>

                    <md-content>
                        <md-list flex>
                            <md-list-item class="md-3-line" ng-repeat="item in dashboard_leftmenus"  ui-sref="{{item.state}}">
                                <img ng-src="{{item.icon}}?{{$index}}" class="md-avatar" alt="{{item.name}}" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.name}}</h3>
                                </div>
                                <md-divider ></md-divider>
                            </md-list-item> 
                        </md-list>
                    </md-content>

                </md-sidenav>



                <md-content  flex  style="height: 100%;" layout="column"> 
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <md-button aria-label="Go Back">
                                Go Back
                            </md-button>
                            <h2>
                                <span>Toolbar with Standard Buttons</span>
                            </h2>
                            <span flex></span>
                            <md-button class="md-fab md-mini" aria-label="Favorite">
                                G
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-content  flex layout-padding  style="height: 100%;" layout="column"> 
                        <ui-view></ui-view>    
                    </md-content>
                </md-content>

            </section>

        </div>



        <!-- Angular Material requires Angular.js Libraries -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/routes.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>




    </body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->